{% if currencies|length > 1 %}
<li class="nav-item dropdown">
	<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-currency">
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			{% for currency in currencies %}
				{% if currency.symbol_left and currency.code == code %} <strong>{{ currency.symbol_left }}</strong> 
				{% elseif currency.symbol_right and currency.code == code %} <strong>{{ currency.symbol_right }}</strong> 
				{% endif %}
			{% endfor %}
			{{ text_currency }}
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			{% for currency in currencies %}
			{% if currency.symbol_left %}

				<a class="dropdown-item currency-select" type="button" name="{{ currency.code }}">{{ currency.symbol_left }} {{ currency.title }}</a>
			{% else %}
				<a class="dropdown-item currency-select" type="button" name="{{ currency.code }}">{{ currency.symbol_right }} {{ currency.title }}</a>
			{% endif %}
			{% endfor %}
		</div>
		<input type="hidden" name="code" value="" />
		<input type="hidden" name="redirect" value="{{ redirect }}" />
	</form>
</li>
{% endif %} 