<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}

<!-- Opencart relies on Font Awesome -->
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

<!-- Latest jQuery CDN. Has to be not minified! -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<!-- Latest Bootstrap CDN -->
<!-- disabled because of bootswatch 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
-->

<!-- Bootswatch CDN. Completely optional. If Bootswatch is loaded, we don't have to load common Bootstrap anymore. -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" integrity="sha384-5QFXyVb+lrCzdN228VS3HmzpiE7ZVwLQtkt+0d9W43LQMzz4HBnnqvVxKg6O+04d" crossorigin="anonymous">

<!-- Latest datetimepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js" integrity="sha512-Izh34nqeeR7/nwthfeE0SI3c8uhFSnqxV0sI9TvTcXiFJkMd6fB644O64BRq2P/LA/+7eRvCw4GmLsXksyTHBg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha512-GDey37RZAxFkpFeJorEUwNoIbkTwsyC736KNSYucu1WJWFK9qTdzYub8ATxktr6Dwke7nbFaioypzbDOQykoRg==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha512-aEe/ZxePawj0+G2R+AaIxgrQuKT68I28qh+wgLrcAJOz3rxCP+TwrK5SPN+E5I+1IQjNtcfvb96HDagwrKRdBw==" crossorigin="anonymous" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment-with-locales.min.js" integrity="sha512-EATaemfsDRVs6gs1pHbvhc6+rKFGv8+w4Wnxk4LmkC0fzdVoyWb+Xtexfrszd1YuUMBEhucNuorkf8LpFBhj6w==" crossorigin="anonymous"></script>

<!-- Optional fonts -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />

<!-- Opencart stylesheet -->
<link href="catalog/view/theme/elixir/stylesheet/stylesheet.css" rel="stylesheet">



{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}

<!-- custom OG stuff -->
<meta property="og:title" content="{{ title }}" >
<meta property="og:description" content="{{ description ? description : '' }}" >
{% if class == 'common-home' %}
<meta property="og:url" content="{{ base }}" >
{% endif %}
{% if ('product-product' not in class) and ('product-category' not in class) and ('product-manufacturer-info' not in class) %}
<meta property="og:image" content="{{ logo_meta }}" >
<meta property="og:image:width" content="300" >
<meta property="og:image:height" content="300" >
{% endif %}
<meta property="og:site_name" content="{{ name }}" >
{% for meta_tag in ogmeta %}
<meta {{ meta_tag.meta_name}} content="{{ meta_tag.content }}" >
{% endfor %}


</head>
<body>

<!-- bs4 based top nav -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
	<div class="container">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto small" itemscope itemtype="https://schema.org/Organization">
				<li class="nav-item" >
					<a class="nav-link" href="{{ contact }}"><i class="fa fa-phone"></i> <span itemprop="telephone">{{ telephone }}</span></a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-user"></i> {{ text_account }}
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						{% if logged %}
						<a class="dropdown-item" href="{{ account }}">{{ text_account }}</a>
						<a class="dropdown-item" href="{{ order }}">{{ text_order }}</a>
						<a class="dropdown-item" href="{{ transaction }}">{{ text_transaction }}</a>
						<a class="dropdown-item" href="{{ download }}">{{ text_download }}</a>
						<a class="dropdown-item" href="{{ logout }}">{{ text_logout }}</a>
						{% else %}
						<a class="dropdown-item" href="{{ register }}">{{ text_register }}</a>
						<a class="dropdown-item" href="{{ login }}">{{ text_login }}</a>
						{% endif %}
					</div>
				</li>	
				<li class="nav-item">
					<a class="nav-link" href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="fa fa-heart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span></a>
				</li>
				<li class="nav-item">
					<a  class="nav-link"href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a>
				</li>
				{{ currency }}
				{{ language }}	
			</ul>
		</div>
	</div>
</nav>

<header itemscope itemtype="https://schema.org/Organization">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-4">
        <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
          <h1><a href="{{ home }}" ><span itemprop="name">{{ name }}</span></a></h1>
          {% endif %}</div>
      </div>
      <div class="col-md-5">{{ search }}</div>
      <div class="col-md-3">{{ cart }}</div>
    </div>
  </div>
</header>
{{ menu }}
