{% if languages|length > 1 %}
<li class="nav-item dropdown">
  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			
			{% for language in languages %}
				{% if language.code == code %} 
				<img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}">
				{% endif %}
			{% endfor %}
			{{ text_language }}
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			{% for language in languages %}
				<a class="dropdown-item language-select" type="button" name="{{ language.code }}"><img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" /> {{ language.name }}</a>
			{% endfor %}
		</div>

    <input type="hidden" name="code" value="" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />
  </form>
</li>
{% endif %}
