{% if categories %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarsExample07">
			<ul class="navbar-nav mr-auto">
				{% for category in categories %}
        {% if category.children %}
        <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{{ category.href }}" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ category.name }}</a>
          <div class="dropdown-menu" aria-labelledby="dropdown07"> 
						{% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
							{% for child in children %}
							<a class="dropdown-item" href="{{ child.href }}">{{ child.name }}</a>
							{% endfor %}
						{% endfor %}
            <a href="{{ category.href }}" class="dropdown-item see-all">{{ text_all }} {{ category.name }}</a> </div>
        </li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
			</ul>
		</div>
	</div>
</nav>
{% endif %} 