
<div class="input-group mb-3" id="search">
  <input type="text" value="{{ search }}" class="form-control form-control-lg" placeholder="{{ text_search }}" aria-label="{{ text_search }}" aria-describedby="basic-addon2" name="search">
  <div class="input-group-append">
    <button class="btn btn-secondary btn-lg" type="button"><i class="fa fa-search"></i></button>
  </div>
</div>