/* Opencart styles with everything unneccessary removed. Ideally this file would be empty */

/* cart */
#cart .dropdown-menu{
	min-width: 767px;
}
@media (max-width: 767.98px) {
	#cart .dropdown-menu{
		min-width: 100%;
	}
}

/* rating */
.rating .fa-stack {
	width:1em;
}

/* footer */
.footer {background: #e9ecef}

/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}

/* category fix */
.product-grid .image {margin-right:0;}
.product-list .image {margin-right:1.5rem;}

/* product page thumbnails */
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}



/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}


